*{
    margin: 0;
    padding: 0;
}

#scoreboard{
    width: 160px;
    height: 100px;
    z-index: 4;
    position: relative;
}

canvas{
    position: absolute;   
    top: 0;
}

.scoreboardschrift{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.cords_input{
    color: black;
    display: inline;
    width: 30px;
}

#addblock{
    float: right;
    display: flex;
    position: relative;
    display: inline;
    z-index: 4;
    margin-right: 15px;
}

.button{
    width: 30px;
    height: 16px;
}

.sideholder{
    width: 250px;
    height: 400px;
    float: left;
    z-index: 5;
    position: relative;
}

.addblockholder{
    position: relative;
    z-index: 5;
}

.insideholder{
    padding: 5px;
}

#startstop{
    width: fit-content;
    height: inherit;
    

}
#vorlagen{
    width: fit-content;
}

#reset{
    height: inherit;
    width: fit-content;
}   
